# Stellar Network Settings
# Supported: local, testnet, mainnet
NEXT_PUBLIC_STELLAR_NETWORK=testnet

# Horizon API endpoints
NEXT_PUBLIC_HORIZON_URL=https://horizon-testnet.stellar.org

# Soroban RPC endpoints
NEXT_PUBLIC_SOROBAN_RPC_URL=https://soroban-testnet.stellar.org

# Network Passphrase
NEXT_PUBLIC_STELLAR_NETWORK_PASSPHRASE="Test SDF Network ; September 2015"
