# Dependencies
node_modules
.pnpm-store

# Next.js build output
.next/
out/

# Turborepo build artifacts
.turbo

# Production builds
dist
build

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*.local

# IDE and OS files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Stellar / Soroban local environment files
.soroban/
target/
Cargo.lock

# Local binaries
bin/

# Temporary directories
temp-old-modules/
