node_modules
.next
.turbo
dist
build
coverage
package.json
package-lock.json
pnpm-lock.yaml

# Generated code and snapshots
**/generated/**
**/test_snapshots/**

# Third-party patches
contracts/patches/


